@import "~sass-rem";
@import "../../Style/breakpoints.scss";

:host {
  display: block;
}

.page-title {
  font-family: inherit;
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.5rem;
  @include media("<=desktop") {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  @include media("<=tablet") {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  @include media("<=phone") {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.page-subtitle {
  font-family: inherit;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5rem;
  @include media("<=desktop") {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  @include media("<=tablet") {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
  @include media("<=phone") {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

.heading {
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.75rem;
  color: var(--neutral-600);
  @include media("<=desktop") {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}
// .subheading {
//   font-family: inherit;
//   font-size: 0.75rem;
//   font-weight: 600;
//   line-height: 1rem;
// }

.title {
  font-family: inherit;
  font-size: 1.15rem;
  font-weight: 500;
  line-height: 1.75rem;
  @include media("<=desktop") {
    font-size: 0.95rem;
    line-height: 1.55rem;
  }
  @include media("<=tablet") {
    font-size: 0.85rem;
    line-height: 1.25rem;
  }
}
.body-text {
  font-family: inherit;
  font-size: 1.75rem;
  opacity: 0.75;
  font-weight: 400;
  line-height: 2.25rem;
  @include media("<=desktop") {
    font-size: 1.15rem;
    line-height: 1.75rem;
  }
  @include media("<=tablet") {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
}
.caption {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  opacity: 0.75;
  @include media("<=desktop") {
    font-size: 0.75rem;
    line-height: 1rem;
  }
  @include media("<=tablet") {
    font-size: 0.675rem;
    line-height: 1rem;
  }
}
