@import "~sass-rem";
@import "../../Style/breakpoints.scss";
:host {
  display: block;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  height: 4rem;
  width: 100%;
  display: flex;
  // @include media("<=790px") {
  //   .title {
  //     font-size: 0.9rem;
  //     line-height: 1.15rem !important;
  //   }
  // }

  .header-logo {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    img {
      height: 6rem;
      margin: 0;
      margin-left: 1rem;
    }
  }
  .header-nav {
    flex: 2;
    height: 100%;
    nav {
      margin: 0 auto;
      padding: 0;
      width: 80%;
      height: 100%;
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        li {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
  .header-auth {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .button {
      margin: 0 1rem;
      height: 2.5rem;
      padding: 0 1.5rem;
      display: flex;
      background-color: var(--primary-300);
      align-items: center;
      border-radius: 2rem;
      cursor: pointer;
      .title {
        color: var(--text-inverted) !important;
      }
      &:hover {
        background-color: var(--primary-400);
      }
      &:active {
        background-color: var(--primary-200);
      }
    }
  }
}
