@import "./colors.scss";
:host {
  display: block;
}

@font-face {
  font-family: "averta";
  src: url("../Assets/Fonts/averta-regular.otf") format("woff"),
    url("../Assets/Fonts/averta-regular.otf") format("opentype"),
    url("../Assets/Fonts/averta-regular.otf") format("truetype");
}
@font-face {
  font-family: "averta-bold";
  src: url("../Assets/Fonts/averta-extrabold.otf") format("woff"),
    url("../Assets/Fonts/averta-extrabold.otf") format("opentype"),
    url("../Assets/Fonts/averta-extrabold.otf") format("truetype");
}
* {
  font-family: "averta";
  color: var(--text);
}

.landing-page {
  height: 100%;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: var(--neutral-200);

  .intro {
    width: 100%;
    height: 100vh;

    .intro-animation-wrapper {
      z-index: 8;
      .intro-animation-inner {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: var(--neutral-600);
      }
    }

    .intro-container {
      height: 100vh;
      width: 100%;

      .intro-content-wrapper {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .page-title {
          display: inline-block;
          z-index: 10;
          color: var(--text-inverted);
          mix-blend-mode: difference;
        }
      }
    }
  }
}
