@import "./colors.scss";
@import "./mixins.scss";
:host {
  display: block;
}

@font-face {
  font-family: "averta";
  src: url("../Assets/Fonts/averta-regular.otf") format("woff"),
    url("../Assets/Fonts/averta-regular.otf") format("opentype"),
    url("../Assets/Fonts/averta-regular.otf") format("truetype");
}
@font-face {
  font-family: "averta-bold";
  src: url("../Assets/Fonts/averta-extrabold.otf") format("woff"),
    url("../Assets/Fonts/averta-extrabold.otf") format("opentype"),
    url("../Assets/Fonts/averta-extrabold.otf") format("truetype");
}
* {
  font-family: "averta";
  color: var(--text);
}

.landing-page {
  height: 100%;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: var(--neutral-200);

  .info-icon {
    z-index: 2;
    height: 150px;
    width: 150px;
    position: absolute;
    animation: 3s ease-in-out;
    animation-iteration-count: infinite;
  }

  .intro {
    width: 100%;
    height: 100vh;

    .intro-animation-wrapper {
      z-index: 8;
      .intro-animation-inner {
        z-index: 8;
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: var(--neutral-600);
      }
    }

    .intro-container {
      z-index: 5;
      height: 100vh;
      width: 100%;

      .info-right-part,
      .info-left-part {
        z-index: 2;
        position: relative;
      }

      .info-right-part-wrapper,
      .info-left-part-wrapper {
        z-index: 2;
        position: absolute;
        top: 0%;
        width: 20rem;
        height: 100vh;
      }

      .info-left-part-inner {
        z-index: 2;
        position: relative;
        height: 100%;
        width: 100%;
        .info-icon {
          &:first-child {
            left: 10%;
            @include animation-keyframes {
              0% {
                top: 16%;
              }
              50% {
                top: 17%;
              }
              100% {
                top: 16%;
              }
            }
          }
          &:last-child {
            top: 60%;
            left: 30%;

            @include animation-keyframes {
              0% {
                transform: rotate(35deg);
                opacity: 1;
              }
              50% {
                opacity: 0.75;
                transform: rotate(0deg);
              }
              100% {
                opacity: 1;
                transform: rotate(35deg);
              }
            }
          }
        }
      }

      .info-right-part-inner {
        z-index: 2;
        position: relative;
        height: 100%;
        width: 100%;
        .info-icon {
          &:first-child {
            top: 22.5%;
            right: 10.5%;
            @include animation-keyframes {
              0% {
                opacity: 0.75;
              }
              50% {
                opacity: 1;
              }
              100% {
                opacity: 0.75;
              }
            }
          }
          &:last-child {
            top: 65%;
            right: 45%;
            @include animation-keyframes {
              0% {
                transform: rotate(20deg);
                opacity: 0.75;
              }
              50% {
                top: 60%;
                height: 175px;
                width: 175px;
                opacity: 1;
                transform: rotate(35deg);
              }
              100% {
                opacity: 0.75;
                transform: rotate(20deg);
              }
            }
          }
        }
      }

      .info-right-part-wrapper {
        right: 0;
      }

      .info-left-part-wrapper {
        left: 0;
      }

      .intro-content-wrapper {
        z-index: 6;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .intro-title {
          z-index: 10;
          width: 70%;
          .page-title {
            display: inline-block;
            z-index: 10;
            color: var(--text-inverted);
            mix-blend-mode: difference;
            text-align: center;
          }
        }

        .intro-description {
          z-index: 6;
          margin: 1.5rem 0 0 0;
          width: 57.5%;
          z-index: 6;
          .body-text {
            text-align: center;
          }
        }
      }
    }
  }

  .signup {
    height: 60vh;
    width: 100%;
    position: relative;
    .signup-inner {
      width: 100%;
      height: 60%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      .signup-form {
        height: 100%;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        // background-color: red;
        .signup-form-title {
          margin: 0 auto;
        }
        .signup-form-content {
          margin: 1rem 0 1rem 0;
          .signup-form-input {
            width: 14rem;
            height: 3.5rem;
            border: 1px solid var(--neutral-300);
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            outline: 0;
            font-size: 1.15rem;
            line-height: 1.75rem;
            letter-spacing: 0;
            color: var(--text);
            opacity: 0.75;
            padding: 0 0 0 1rem;
          }
          .signup-form-submit {
            width: 9.5rem;
            height: 3.5rem;
            border: none;
            border-bottom-right-radius: 8px;
            border-top-right-radius: 8px;
            background-color: var(--primary-300);
            outline: 0;
            font-size: 1.15rem;
            line-height: 1.75rem;
            font-weight: 500;
            letter-spacing: 0;
            text-align: center;
            color: var(--text-inverted);
            cursor: pointer !important;
            &:hover {
              background-color: var(--primary-400);
            }
            &:active {
              background-color: var(--primary-200);
            }
          }
        }
      }
    }
    .signup-illustration {
      position: absolute;
      bottom: 0rem;
      right: -12rem;
      height: 25rem;
      img {
        height: 100%;
      }
    }
  }

  .pricing {
    height: 80vh;
    width: 100%;
    position: relative;
    .pricing-inner {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      .pricing-showcase {
        z-index: 10;
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .pricing-showcase-title {
          margin: 0 auto;
          // flex: 1;
        }
        .pricing-showcase-content {
          margin: 2rem 0;
          flex: 1;
          width: 80%;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          .pricing-showcase-section {
            height: 100%;
            flex: 1;
            margin: 0 1rem;
            border: 2px solid rgba(225, 225, 225, 0.75);
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.75);
            outline: 0;
            // opacity: 0.75;
            padding: 1rem 0 0 0;
            display: flex;
            flex-direction: column;
            cursor: pointer;
            .pricing-showcase-section-title {
              display: flex;
              justify-content: center;
              align-items: center;
              flex: 0.5;
              opacity: 0.75;
            }
            .pricing-showcase-section-features {
              flex: 3;
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
              padding: 0 1rem;
              .title {
                margin: 2px 0;
                font-weight: 700;
                opacity: 0.75;
                &:first-child {
                  margin-top: 4px;
                }
                &:last-child {
                  margin-bottom: 4px;
                }
              }
            }
            .pricing-showcase-section-button {
              flex: 0.5;
              display: flex;
              justify-content: center;
              align-items: center;
              .pricing-showcase-section-button-inner {
                background-color: var(--primary-300);
                height: 2.5rem;
                padding: 0 1.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 2rem;
                margin: 1rem;
                .title {
                  color: var(--text-inverted) !important;
                }
              }
            }
          }
        }
      }
    }
    .pricing-illustrations {
      z-index: 5;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      .pricing-illustrations-inner {
        height: 100%;
        width: 100%;
        position: relative;
        .info-icon {
          &:first-child {
            top: -15%;
            left: 5%;
            @include animation-keyframes {
              0% {
                transform: rotate(5deg);
              }
              50% {
                transform: rotate(8deg);
              }
              100% {
                transform: rotate(5deg);
              }
            }
          }
          &:last-child {
            bottom: 15%;
            right: 7.5%;
            @include animation-keyframes {
              0% {
                opacity: 0.75;
              }
              50% {
                height: 175px;
                width: 175px;
                right: 6%;
                opacity: 1;
              }
              100% {
                opacity: 0.75;
              }
            }
          }
        }
      }
    }
  }
  .products {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &.vertical {
      flex-direction: column;
      .product-illustration,
      .product-details {
        width: 100%;
        height: 80%;
      }
      .product-details {
        height: 20%;
        .product-title {
          text-align: center;
        }
        .product-description {
          width: 65%;
          text-align: center;
        }
      }
    }
    .product-illustration {
      height: 100%;
      width: 50%;
      position: relative;
      .product-illustration-img {
        height: 100%;
        width: 100%;
        &.center {
          position: absolute;
          top: 0;
          left: -5%;
        }
        &.top {
          position: absolute;
          top: -12.5%;
        }
      }
    }
    .product-details {
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0;

      .product-title {
        width: 80%;
        .page-title {
          font-size: 3.5rem;
          line-height: 3.75rem;
        }
      }
      .product-description {
        width: 80%;
        margin: 1rem 0;
        margin-bottom: 0.5rem;
        &:last-child {
          margin-top: 0;
        }
        &:nth-child(2) {
          margin-top: 1rem;
        }
      }
    }
  }
  .newsletter {
    width: 100%;
    background-color: var(--primary-200);
    .newsletter-inner {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .newsletter-form-title {
        text-align: center;
        margin: 1.5rem 0;
        .page-subtitle {
          color: var(--text-inverted);
          font-weight: 700;
        }
      }

      .newsletter-form-content {
        margin: 0;
        margin-bottom: 0.5rem;
        .newsletter-form-input {
          width: 14rem;
          height: 3.5rem;
          border: 1px solid var(--neutral-300);
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
          outline: 0;
          font-size: 1.15rem;
          line-height: 1.75rem;
          letter-spacing: 0;
          color: var(--text);
          opacity: 0.75;
          padding: 0 0 0 1rem;
        }
        .newsletter-form-submit {
          width: 9.5rem;
          height: 3.5rem;
          border: none;
          border-bottom-right-radius: 8px;
          border-top-right-radius: 8px;
          background-color: var(--primary-300);
          outline: 0;
          font-size: 1.15rem;
          line-height: 1.75rem;
          font-weight: 500;
          letter-spacing: 0;
          text-align: center;
          color: var(--text-inverted);
          cursor: pointer !important;
          &:hover {
            background-color: var(--primary-400);
          }
          &:active {
            background-color: var(--primary-100);
          }
        }
      }
    }
    .newsletter-illustration {
      width: 100%;
      height: 45vh;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        margin: 0;
        height: 100%;
      }
    }
  }
  .community {
    width: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    .community-title {
      width: 60%;
      margin: 1rem auto;
      // margin-top: 1rem;
      .page-title {
        text-align: center;
      }
    }
    .community-people {
      width: 100%;
      height: 45vh;
      display: flex;
      justify-content: space-evenly;
      .community-person {
        height: 100%;
        img {
          height: 100%;
        }
      }
    }
  }
}
