@import "./colors.scss";
@import "./mixins.scss";
:host {
  display: block;
}

@font-face {
  font-family: "averta";
  src: url("../Assets/Fonts/averta-regular.otf") format("woff"),
    url("../Assets/Fonts/averta-regular.otf") format("opentype"),
    url("../Assets/Fonts/averta-regular.otf") format("truetype");
}
@font-face {
  font-family: "averta-bold";
  src: url("../Assets/Fonts/averta-extrabold.otf") format("woff"),
    url("../Assets/Fonts/averta-extrabold.otf") format("opentype"),
    url("../Assets/Fonts/averta-extrabold.otf") format("truetype");
}
* {
  font-family: "averta";
  color: var(--text);
}

.landing-page {
  height: 100%;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: var(--neutral-200);

  .info-icon {
    z-index: 2;
    height: 150px;
    width: 150px;
    position: absolute;
    animation: 3s ease-in-out;
    animation-iteration-count: infinite;
  }

  .intro {
    width: 100%;
    height: 100vh;

    .intro-animation-wrapper {
      z-index: 8;
      .intro-animation-inner {
        z-index: 8;
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: var(--neutral-600);
      }
    }

    .intro-container {
      z-index: 5;
      height: 100vh;
      width: 100%;

      .info-right-part,
      .info-left-part {
        z-index: 2;
        position: relative;
      }

      .info-right-part-wrapper,
      .info-left-part-wrapper {
        z-index: 2;
        position: absolute;
        top: 0%;
        width: 20rem;
        height: 100vh;
      }

      .info-left-part-inner {
        z-index: 2;
        position: relative;
        height: 100%;
        width: 100%;
        .info-icon {
          &:first-child {
            left: 10%;
            @include animation-keyframes {
              0% {
                top: 16%;
              }
              50% {
                top: 17%;
              }
              100% {
                top: 16%;
              }
            }
          }
          &:last-child {
            top: 60%;
            left: 30%;

            @include animation-keyframes {
              0% {
                transform: rotate(35deg);
                opacity: 1;
              }
              50% {
                opacity: 0.75;
                transform: rotate(0deg);
              }
              100% {
                opacity: 1;
                transform: rotate(35deg);
              }
            }
          }
        }
      }

      .info-right-part-inner {
        z-index: 2;
        position: relative;
        height: 100%;
        width: 100%;
        .info-icon {
          &:first-child {
            top: 22.5%;
            right: 10.5%;
            @include animation-keyframes {
              0% {
                opacity: 0.75;
              }
              50% {
                opacity: 1;
              }
              100% {
                opacity: 0.75;
              }
            }
          }
          &:last-child {
            top: 65%;
            right: 45%;
            @include animation-keyframes {
              0% {
                transform: rotate(20deg);
                opacity: 0.75;
              }
              50% {
                top: 60%;
                height: 175px;
                width: 175px;
                opacity: 1;
                transform: rotate(35deg);
              }
              100% {
                opacity: 0.75;
                transform: rotate(20deg);
              }
            }
          }
        }
      }

      .info-right-part-wrapper {
        right: 0;
      }

      .info-left-part-wrapper {
        left: 0;
      }

      .intro-content-wrapper {
        z-index: 6;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .intro-title {
          z-index: 10;
          width: 70%;
          .page-title {
            display: inline-block;
            z-index: 10;
            color: var(--text-inverted);
            mix-blend-mode: difference;
            text-align: center;
          }
        }

        .intro-description {
          z-index: 6;
          margin: 1.5rem 0 0 0;
          width: 57.5%;
          z-index: 6;
          .body-text {
            text-align: center;
          }
        }
      }
    }
  }

  .signup {
    height: 60vh;
    width: 100%;
    position: relative;
    .signup-inner {
      width: 100%;
      height: 60%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      .signup-form {
        height: 100%;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        // background-color: red;
        .signup-form-title {
          margin: 0 auto;
        }
        .signup-form-content {
          margin: 1rem 0 1rem 0;
          .signup-form-input {
            width: 14rem;
            height: 3.5rem;
            border: 1px solid var(--neutral-300);
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            outline: 0;
            font-size: 1.15rem;
            line-height: 1.75rem;
            letter-spacing: 0;
            color: var(--text);
            opacity: 0.75;
            padding: 0 0 0 1rem;
          }
          .signup-form-submit {
            width: 9.5rem;
            height: 3.5rem;
            border: none;
            border-bottom-right-radius: 8px;
            border-top-right-radius: 8px;
            background-color: var(--primary-300);
            outline: 0;
            font-size: 1.15rem;
            line-height: 1.75rem;
            font-weight: 500;
            letter-spacing: 0;
            text-align: center;
            color: var(--text-inverted);
            cursor: pointer !important;
            &:hover {
              background-color: var(--primary-400);
            }
            &:active {
              background-color: var(--primary-200);
            }
          }
        }
      }
    }
    .signup-illustration {
      position: absolute;
      bottom: 0rem;
      right: -12rem;
      height: 25rem;
      img {
        height: 100%;
      }
    }
  }

  .pricing {
    height: 80vh;
    width: 100%;
    position: relative;
    .pricing-inner {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: red;
    }
    .pricing-illustrations {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      .pricing-illustrations-inner {
        background-color: blue;
        height: 100%;
        width: 100%;
        position: relative;
        .info-icon {
          &:first-child {
            top: -15%;
            left: 5%;
            @include animation-keyframes {
              0% {
                transform: rotate(5deg);
              }
              50% {
                transform: rotate(8deg);
              }
              100% {
                transform: rotate(5deg);
              }
            }
          }
          &:last-child {
            bottom: 15%;
            right: 7.5%;
            @include animation-keyframes {
              0% {
                opacity: 0.75;
              }
              50% {
                height: 175px;
                width: 175px;
                right: 6%;
                opacity: 1;
              }
              100% {
                opacity: 0.75;
              }
            }
          }
        }
      }
    }
  }
}
