:root {
  /*Primary*/
  --primary-100: #98a4ec;
  --primary-200: #4159dc;
  --primary-300: #111d5e;
  --primary-400: #0d1545;
  --primary-500: #091034;

  /*Secondary*/
  --secondary-100: #fec834;
  --secondary-200: #fac32a;
  --secondary-300: #ebb521;
  --secondary-400: #e0aa15;
  --secondary-500: #bb8e11;

  /*Text*/
  --text: #2a2c35;
  --text-inverted: #fbf4e4;

  /*Neutral*/
  --neutral-100: #ffffff;
  --neutral-200: #f4f5f7;
  --neutral-300: #e1e1e1;
  --neutral-400: #737581;
  --neutral-500: #4a4b53;
  --neutral-600: #000000;
}
